#particle-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: particleAnimation 30s linear infinite;
  opacity: 0.3;
}

@keyframes particleAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000px 1000px;
  }
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background-color: #010510;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

header a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  width: fit-content;
  max-width: 90vw;
  margin: auto;
  position: relative;
  z-index: 1;
  gap: 10px;
}

.nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
  transform: rotate(90deg);
}

.mobile-icon {
  display: none !important;
}

.nav-item i {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #FF2850;
}

.nav-item:hover {
  transform: translateY(-4px);

}

.nav-item.active i {
  transform: scale(1.8);
}



.nav-item {
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  text-align: center;
}

.nav-item i {
  display: none;
}

.selection-indicator {
  position: absolute;
  bottom: 0px;
  height: 5px;
  width: 60px;
  background-color: #FF2850;
  border-radius: 2px;
  transition: all 0.3s ease;
  z-index: 1;
  filter: brightness(1.2);
  animation: glowPulse 2s infinite alternate ease-in-out;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 20px #FF2850;
  }

  100% {
    box-shadow: 0 0 20px #FF2850;
  }
}



@media (max-width: 768px) {

  header{
    padding: 0 !important;
    padding-bottom: 5px !important;
  }

  .navbar {
    border-radius: 40px;
    padding: 10px 20px;
    gap: 5px;
  }

  .nav-item .nav-text {
    display: none;
  }

  .nav-item i {
    display: block;
    font-size: 1.8rem;
  }


  .nav-item {
    padding: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-align: center;
  }

    .mobile-icon {
    display: inline-block !important;
    width: 24px;
    height: 24px;
    padding: 0 !important;
  }

  .nav-item.active {
    box-shadow: none !important;
    animation: none !important;
  }

}